################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/scr/api/api.agency/bin/Debug/net6.0
/scr/api/api.agency/obj
/scr/api/api.campaign/bin/Debug/net6.0
/scr/api/api.campaign/obj
/scr/api/api.resource/bin/Debug/net6.0
/scr/api/api.resource/obj
/scr/api/api.gateway.resource/bin/Debug/net6.0
/scr/api/api.gateway.resource/obj
/scr/api/api.token.resource/bin/Debug/net6.0
/scr/api/api.token.resource/obj
/scr/app/app.agency/bin/Debug/net6.0
/scr/app/app.agency/obj
/scr/app/app.campaign/bin/Debug/net6.0
/scr/app/app.campaign/obj
/scr/app/app.resource/bin/Debug/net6.0
/scr/app/app.resource/obj
/scr/data/data.agency/bin/Debug/net6.0
/scr/data/data.agency/obj
/scr/data/data.campaign/bin/Debug/net6.0
/scr/data/data.campaign/obj
/scr/data/data.resource/bin/Debug/net6.0
/scr/data/data.resource/obj
/scr/domain/domain.agency/bin/Debug/net6.0
/scr/domain/domain.agency/obj
/scr/domain/domain.campaign/bin/Debug/net6.0
/scr/domain/domain.campaign/obj
/scr/domain/domain.resource/bin/Debug/net6.0
/scr/domain/domain.resource/obj
/scr/infra/infra.ioc.agency/bin/Debug/net6.0
/scr/infra/infra.ioc.agency/obj
/scr/infra/infra.ioc.campaign/bin/Debug/net6.0
/scr/infra/infra.ioc.campaign/obj
/scr/infra/infra.ioc.resource/bin/Debug/net6.0
/scr/infra/infra.ioc.resource/obj
/solution/.vs
/test/tdd.resource/bin/Debug/net6.0
/test/tdd.resource/obj
/.vs/padawans/v17
/scr/api/api.gateway.resource/bin/Debug/net7.0
